@font-face {
    font-family: Megrim;
    src: url(../assets/fonts/megrim.ttf);
}

body {
    margin: 0;
    background-color: black;
    font-family: system-ui;
    color: white;
}

#textContainer {
    position: absolute;
    top: 20em;
    left: 20em;
    text-align: center;
    opacity: 1;
}

#textContainer h3 {
    font-weight: lighter;
}

#title {
    font-family: Megrim;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}